#gameTitle {
    text-align: center;
}

#valueBoard, #playerInfo {
    width: 10%;
}

#buttons {
    text-align: center;
    margin: 0 0 2% 0;
    opacity: 20%
}

body {
    background-color: beige;
}

main {
    margin: 0 auto;
    text-align: center;
    height: 500px;
    width: 80%;
}

.briefcase {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 20%;
    width: 20%;
    color:rgba(0,0,0,0)
}

.revealed {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 20%;
    width: 20%;
    color:black;
}

.eliminatedPrize {
    opacity: 0.3;
}