@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

#gameTitle {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 240%;
}

#valueBoard, #pastOffers {
    width: 10%;
    text-align: center;
}

#playerInfo {
    width: 25%;
}

#playerInfo, #remainingValues, #pastOffers {
    font-family: 'Play', sans-serif;
}

#buttons {
    font-family: 'Play', sans-serif;
    text-align: center;
    margin: 0 0 2% 0;
}

#playerName, #submitName {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

body {
    background-color: beige;
    /*background-image: url(https://i.ytimg.com/vi/zG41e6kF2TU/maxresdefault.jpg);
    background-size: cover;*/
}

main {
    margin: 0 auto;
    text-align: center;
    height: 600px;
    width: 90%;
}

P {
    font-family: sans-serif;
}

.briefcase {
    font-family: 'Play', sans-serif;
    font-size: 180%;
    display: inline-block;
    /*border: 1px solid black;*/
    text-align: center;
    
    /*padding: 12% 0 0 0;*/
    /*background-image: url(https://www.netclipart.com/pp/m/86-865367_briefcase-computer-icons-bag-silver-silver-briefcase-png.png);*/
    background-image: url('./public/gameBriefcase.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20%;
    width: 20%;
    color:rgba(0,0,0,0);
}

#bonus {
    background-image: url(https://robbreport.com.au/application/assets/2019/12/Rimowa.jpg);
    background-image: url('./public/bonusBriefcase.png');
    background-position: center;
}

.revealed {
    display: inline-block;
    /*border: 1px solid black;*/
    text-align: center;
    height: 20%;
    width: 20%;
    color:black;
    text-shadow: 2px 2px 2px gold;
}

.eliminatedPrize {
    opacity: 0.3;
}

.presentedOffer, .availablePrize {
    font-family: 'Play', sans-serif;
    font-weight: 5%;
}

.messageCenter {
    font-family: 'Play', sans-serif;
    font-weight: 5%;
}